:root {
    /* --bg-color: #266061; */
    --bg-color: #000;
    --fg-color: #fff;
    --shadow-color: #fff7;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    letter-spacing: .25rem;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

*::before,
*,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
}

button {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid var(--fg-color);
    border-radius: 1rem;
    font-size: 1rem;
    letter-spacing: inherit;
    text-align: center;
    cursor: pointer;

    &,
    &:hover,
    &:active,
    &:focus {
        -webkit-appearance: none;
        appearance: none;
        /* Fix blue highlight on chrome mobile */
        -webkit-tap-highlight-color: transparent;
    }

    &:active {
        background-color: var(--fg-color);
        color: var(--bg-color);
        border-color: var(--bg-color);
    }

    &:focus {
        box-shadow: 0px -2px 5px 1px var(--shadow-color);
    }
}

button.circle-btn {
    border-bottom: none;
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: normal;
    width: 2.5rem;
    aspect-ratio: 1;
}

dialog {
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
    border-radius: 1rem;
    min-height: min(75vh, 75vw);

    &::backdrop {
        background-color: rgba(0, 0, 0, .75) !important;
    }

    >.dialog-content {
        padding: 4rem 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        >button {
            font-size: 1.5rem;
            min-width: 75%;
            padding: 1rem;
        }

        >button.dialog-close {
            min-width: auto;
            padding: .25rem .75rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        >.message {
            font-size: 4rem;
            font-weight: bold;
        }
    }
}

dialog,
.container {
    width: min(90vh, 90vw);
    max-width: 960px;
}

.container {
    margin: 0 auto;
    padding: 2rem 0;
    min-height: min(100vh, 100svh);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: stretch;
}

.control {
    grid-row: 1 / 2;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: end;

    >.settings,
    >.scores {
        width: 100%;
        padding-bottom: .5rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: .5rem;
    }

    >.settings {
        align-items: center;
    }

    >.scores {
        font-size: 1.2rem;
        justify-content: space-evenly;

        span {
            font-size: 1rem;
        }
    }
}

.game {
    align-self: stretch;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: stretch;
    justify-items: stretch;

    >.player-turn {
        grid-row: 1 / 2;
        align-self: center;
        text-align: center;
        font-size: 1.2rem;

        >.current-player {
            font-size: 1.5rem;
        }
    }

    >.board-container {
        grid-row: 2 / 5;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        position: relative;
        align-items: stretch;
        justify-items: stretch;

        >.board-cell {
            font-size: 2.5rem;
            font-size: clamp(1rem, 2.5rem, 5rem);
            font-weight: bold;
            text-align: center;
            display: grid;
            align-items: center;
            justify-items: center;
        }

        >.horizontal-divider,
        >.vertical-divider {
            position: absolute;
            background-color: var(--fg-color);
            border-radius: 50%;
            transform: translate(-1px, -1px);
        }

        >.vertical-divider {
            width: 2px;
            height: 100%;
        }

        >.horizontal-divider {
            width: 100%;
            height: 2px;
        }

        >.first-v-div {
            left: calc(100% / 3);
        }

        >.last-v-div {
            left: calc(100% * 2 / 3);
        }

        >.first-h-div {
            top: calc(100% / 3);
        }

        >.last-h-div {
            top: calc(100% * 2 / 3);
        }
    }
}

@media (orientation: landscape) {
    html {
        font-size: 70%;
    }

    .container {
        width: min(75vh, 75vw);
    }

    .game {
        .board-container {
            grid-row: 2 / 6;
        }
    }
}