:root {
  --hmk-menu-cards-margin: 2rem;
  --hmk-menu-max-card-size: min(
    25rem,
    calc(100vw - var(--hmk-menu-cards-margin))
  );
}

div.menu {
  width: 100%;
  font: inherit;
}

div.menu-cards {
  margin: calc(var(--hmk-menu-cards-margin) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--hmk-menu-max-card-size));
  grid-auto-rows: var(--hmk-menu-max-card-size);
  place-content: center;
  gap: 1rem;
}

div.menu div.load-image-error {
  width: 100%;
  font: inherit;
  font-size: small;
  color: #f00;
  text-align: center;
}
