:root {
  --hmk-home-fg-color: #fff;
  --hmk-home-bg-color: #000;
  --hmk-home-sh-color: #fff7;
}

div.home {
  width: 100%;
  background-color: var(--hmk-home-bg-color);
}

div.home div.home-hero {
  width: auto;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div.home img.hero-image,
div.home div.hero-text {
  margin: 0 auto;
}

div.home img.hero-image {
  height: min(300px, 25vw);
  width: auto;
}

div.home div.hero-text > div.hero-text-head,
div.home div.hero-text > div.hero-text-body {
  font-size: 1rem;
  color: var(--hmk-home-fg-color);
  text-align: right;
  text-shadow: 2px 2px 15px var(--hmk-home-sh-color);
}

div.home div.hero-text > div.hero-text-head {
  font-size: x-large;
  font-weight: bold;
}

div.home div.hero-text > div.hero-text-body {
  font-size: small;
}

@media screen and (max-width: 1024px) {
  div.home {
    padding-bottom: 1rem;
  }

  div.home div.home-hero {
    display: block;
  }

  div.home img.hero-image {
    width: 100%;
    height: auto;
  }

  div.home div.hero-text > div.hero-text-head,
  div.home div.hero-text > div.hero-text-body {
    text-align: center;
  }
}
