:root {
  --hmk-footer-fg-color: #333;
  --hmk-footer-fg-invert-color: #ccc;
  --hmk-footer-bg-color: #fff;
}

footer.footer ul.nav-ul,
footer.footer li.nav-li {
  margin: 0;
  padding: 0;
  width: auto;
}

footer.footer {
  background-color: var(--hmk-footer-bg-color);
  padding: 0.5rem;
  font: inherit;
  font-size: 1rem;
  color: var(--hmk-footer-fg-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer.footer ul.nav-ul {
  justify-self: end;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

footer.footer li.nav-li {
  width: max-content;
}

footer.footer button.nav-btn:focus,
footer.footer button.nav-btn:hover,
footer.footer button.nav-btn:active,
footer.footer button.nav-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: center;
  padding: 0;
}

footer.footer button.nav-btn:active,
footer.footer button.nav-btn:hover,
footer.footer button.nav-btn:focus,
footer.footer button.nav-btn.underlined {
  text-decoration: underline;
}

footer.footer button.nav-btn:active {
  color: var(--hmk-footer-fg-invert-color);
}