:root {
    --thin-dark-border: 1px solid #ddd;
    --light-shadow: 0.75px 0.75px 2px 0px #eee;
    --light-shadow-bigger: 1.5px 1.5px 3px 1px #eee;
    --danger-color: #d00a;
    --success-color: #050a;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    color: #3f3f3f;
}

*::before,
*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 1rem 2rem;
}

h1 {
    text-align: center;
    margin: 1rem auto;
}

input,
input:focus,
input:active,
input:hover,
button,
button:focus,
button:active,
button:hover {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
    margin: 0;
    border: var(--thin-dark-border);
    border-radius: .25rem;
    box-shadow: var(--light-shadow);
    outline: none;
}

button {
    cursor: pointer;
    background-color: #eee;
    padding: .5rem 1rem;
    font-weight: bold !important;

    &:active {
        background-color: transparent;
    }
}

.new-book-form {
    font-size: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;

    div:not(:last-of-type) {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: .5rem;

        input[type="text"],
        input[type="tel"] {
            padding: .35rem;
        }

        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            position: relative;

            &::before {
                content: "✔️";
                font-size: 1rem;
                filter: saturate(0) brightness(.9);
                position: absolute;
                transform-origin: 9px 9px;
                transform: translate(0px, 0px) scale(0) rotate(0);
                transition: all 50ms ease-in-out;
            }

            &:checked::before {
                transform: translate(1px, -3px) scale(1) rotate(-5deg);
            }
        }
    }

    div:last-of-type {
        display: grid;
        grid-template-columns: 1fr;

        button[type="submit"] {
            justify-self: end;
        }
    }
}

.books-container {
    margin: 2rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    .book-card {
        padding: 1rem;
        border: var(--thin-dark-border);
        border-radius: .5rem;
        box-shadow: var(--light-shadow-bigger);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .book-card-title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
            border-bottom: var(--thin-dark-border);
        }

        .book-card-body {
            font-size: 80%;
            font-weight: lighter;

            .book-card-entry {
                margin-bottom: .5rem;
                display: flex;
                gap: .35rem;
                justify-content: space-between;

                .book-card-entry-title {
                    color: #555;
                }

                .book-card-entry-data {
                    font-weight: bold;
                }
            }
        }

        .book-card-buttons {
            margin-top: 1.5rem;
            display: flex;
            gap: .5rem;
            justify-content: space-between;

            button {
                font-size: 80%;
                padding: .5rem;
            }
        }
    }
}

button.danger-color {
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

button.success-color {
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

button.danger-color:not(:active),
button.success-color:not(:active) {
    background-color: transparent;
}