:root {
    --thin-dark-border: 1px solid #ddd;
    --light-shadow: 0.75px 0.75px 2px 0px #eee;
    --light-shadow-bigger: 1.5px 1.5px 3px 1px #eee;
    --danger-color: #d00a;
    --success-color: #050a;
    --input-text-color: #555;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #3f3f3f;
}

*::before,
*,
*::after {
    box-sizing: inherit;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    border: 0;
}

body {
    background-color: #fff;
    margin: 0 auto;
    padding: 1.5rem;
    line-height: 1rem;
    max-width: 960px;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem auto;
}

label,
input,
button {
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    background-color: transparent;
    accent-color: #eee;
    /* Fix blue highlight on chrome mobile */
    -webkit-tap-highlight-color: transparent;

    &:active {
        background-color: #eee;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

input,
button {
    border: var(--thin-dark-border);
    border-radius: .25rem;
    box-shadow: var(--light-shadow);
}

/* Fix changes happen on filed after autocompletion */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: var(--input-text-color) !important;
    color: var(--input-text-color) !important;
}

button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1rem;
    font-weight: bold !important;
}

dialog {
    padding: 2rem;
    position: relative;
    border-radius: 1rem;
    width: 85%;
    max-width: 580px;
}

div:has(button.new-book-dialog-close-btn) {
    position: absolute;
    top: .75rem;
    right: .75rem;
}

button.new-book-dialog-show-btn,
button.new-book-dialog-close-btn {
    padding: .15rem .40rem;
    font-size: 70%;
}

button.new-book-dialog-show-btn {
    font-size: 1.5rem;
    padding: .5rem 1rem;
}

form.new-book-form {
    max-width: 480px;
    font-size: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;

    div:not(:last-of-type) {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: .5rem;

        input[type="text"],
        input[type="tel"] {
            padding: .35rem .5rem;
            color: var(--input-text-color);
            font-weight: light;
            font-size: 90%;
        }

        label {
            font-size: 90%;
            font-weight: bold;
            cursor: pointer;
        }

        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            cursor: pointer;
            position: relative;

            &::before {
                content: "✔️";
                font-size: 1rem;
                filter: saturate(0) brightness(.9);
                position: absolute;
                transform-origin: 9px 9px;
                transform: translate(0px, 0px) scale(0) rotate(0);
                transition: all 50ms ease-in-out;
            }

            &:checked::before {
                transform: translate(1px, -3px) scale(1) rotate(-5deg);
            }
        }
    }

    div:last-of-type {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;

        button[type="submit"] {
            justify-self: end;
        }
    }
}

.books-container {
    margin-top: 2rem;
    font-size: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-content: start;
    gap: 1rem;

    .book-card {
        padding: 1rem;
        border: var(--thin-dark-border);
        border-radius: .5rem;
        box-shadow: var(--light-shadow-bigger);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .book-card-title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
            border-bottom: var(--thin-dark-border);
        }

        .book-card-body {
            font-size: 75%;
            font-weight: light;

            .book-card-entry {
                margin-bottom: .5rem;
                display: flex;
                gap: .35rem;
                justify-content: space-between;

                .book-card-entry-title {
                    color: #555;
                }

                .book-card-entry-data {
                    font-weight: bold;
                }
            }
        }

        .book-card-buttons {
            margin-top: 1.5rem;
            display: flex;
            gap: .5rem;
            justify-content: space-between;

            button {
                font-size: 65%;
                padding: .5rem;
            }
        }
    }
}

button.danger-border {
    border: 1px solid var(--danger-color);
}

button.success-border {
    border: 1px solid var(--success-color);
}

.success-text {
    color: var(--success-color);
}

.danger-text {
    color: var(--danger-color);
}