div.todo-card * {
  font: inherit;
  color: inherit;
  width: auto;
}

div.todo-card {
  padding: 1rem;
  box-shadow: 0 1px 3px 0 #555;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  place-items: center;

  div.title {
    font-size: large;
    font-weight: bold;
  }

  div.due-date {
    font-size: x-small;
    text-align: right;
    color: #093;

    &.overdue {
      color: #930;
    }
  }

  div.description {
    grid-column: 1 / 3;
    text-align: center;
    padding: 1rem 0;
  }

  div.priority {
    grid-column: 1 / 3;
    font-size: small;
    color: #fff;
    width: max-content;
    padding: .5rem;
    border-radius: 1rem;

    &.low {
      background-color: #777;
    }

    &.medium {
      background-color: #753;
    }

    &.high {
      background-color: #d90;
    }
  }
}