:root {
  --hmk-header-fg-color: #333;
  --hmk-header-fg-invert-color: #ccc;
  --hmk-header-bg-light-gradient: linear-gradient(180deg, #fff, transparent);
  --hmk-header-bg-color: #a9792b;
  /* --hmk-header-base-f-size: min(max(3vw, 3vh), 16px); */
}

h1.head,
ul.nav-ul,
li.nav-li {
  margin: 0;
  padding: 0;
  width: auto;
}

header.header {
  background-color: transparent;
  background: var(--hmk-header-bg-light-gradient);
  padding: 1rem;
  font: inherit;
  font-size: 1rem;
  color: var(--hmk-header-fg-color);
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

h1.head {
  justify-self: start;
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-wrap: wrap;
}

ul.nav-ul {
  justify-self: end;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

li.nav-li {
  width: max-content;
}

button.nav-btn:focus,
button.nav-btn:hover,
button.nav-btn:active,
button.nav-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: center;
  padding: 0;
}

button.nav-btn:active,
button.nav-btn:hover,
button.nav-btn:focus,
button.nav-btn.underlined {
  text-decoration: underline;
}

button.nav-btn:active {
  color: var(--hmk-header-fg-invert-color);
}

@media (max-width: 960px),
all and (orientation: portrait) {
  header.header {
    grid-template-columns: 100%;
    gap: 0.5rem;
    padding: 1rem 0;
  }

  h1.head {
    justify-self: center;
  }

  ul.nav-ul {
    justify-self: center;
    justify-content: space-around;
    justify-content: space-evenly;
  }
}