button.hmk-btn {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: transparent;
}

button.hmk-btn {
  font: inherit;
  font-weight: bold;
  color: #fff;
  padding: .75rem;
  border-radius: 1rem;
  background-color: #d90;
  transition: all 50ms;

  &:hover,
  &:focus {
    box-shadow: 0 2px 5px 0 #aaa;
  }

  &:active {
    transform: scale(0.9);
  }
}