:root {
  --hmk-carousel-bg-color: #a9792b;
  --hmk-carousel-base-f-size: min(max(3vw, 3vh), 16px);
  --hmk-carousel-img-height: min(50vh, 50vw);
  --hmk-carousel-arrow-size: calc(var(--hmk-carousel-img-height) / 12);
  --hmk-carousel-fg-color: #111827;
  --hmk-carousel-fg-trans-color: #1118273f;
  --hmk-carousel-fg-invert-color: #eee7d8;
}

div.carousel {
  width: 100%;
  background-color: var(--hmk-carousel-fg-trans-color);
  background: radial-gradient(transparent, var(--hmk-carousel-fg-trans-color));
  box-shadow: 0 1px calc(var(--hmk-carousel-base-f-size) / 4) 0 var(--hmk-carousel-fg-trans-color);
  overflow: hidden;
  position: relative;
}

div.carousel-left-arrow,
div.carousel-right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  height: var(--hmk-carousel-arrow-size);
  width: var(--hmk-carousel-arrow-size);
  border-top: calc(var(--hmk-carousel-arrow-size) / 4) solid var(--hmk-carousel-fg-trans-color);
  border-left: calc(var(--hmk-carousel-arrow-size) / 4) solid var(--hmk-carousel-fg-trans-color);
}

div.carousel-left-arrow {
  left: var(--hmk-carousel-arrow-size);
  transform: rotate(-45deg);
}

div.carousel-right-arrow {
  right: var(--hmk-carousel-arrow-size);
  transform: rotate(135deg);
}

div.carousel-left-arrow:active {
  transform: rotate(-45deg) scale(0.75);
}

div.carousel-right-arrow:active {
  transform: rotate(135deg) scale(0.75);
}

div.carousel-left-arrow:hover,
div.carousel-left-arrow:focus,
div.carousel-right-arrow:hover,
div.carousel-right-arrow:focus {
  border-top-color: var(--hmk-carousel-fg-color);
  border-left-color: var(--hmk-carousel-fg-color);
}

figure.carousel-figure {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

figure.carousel-figure>img {
  height: var(--hmk-carousel-img-height);
  width: auto;
}

figcaption.carousel-figcaption {
  font-size: calc(var(--hmk-carousel-base-f-size) / 2);
  text-align: center;
  color: var(--hmk-carousel-fg-invert-color);
  background-color: var(--hmk-carousel-fg-color);
  width: 100%;
}

figcaption.carousel-figcaption div,
figcaption.carousel-figcaption a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

figcaption.carousel-figcaption a:hover,
figcaption.carousel-figcaption a:active,
figcaption.carousel-figcaption a:focus {
  text-decoration: underline;
}

@keyframes right-slide-out {
  from {
    transform: translateX(0);
  }

  75% {
    opacity: 1;
  }

  to {
    transform: translateX(175%);
    opacity: 0;
  }
}

@keyframes right-slide-in {
  from {
    transform: translateX(-175%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  to {
    transform: translateX(0);
  }
}