:root {
  --hmk-carousel-bg-color: #a9792b;
  --hmk-carousel-bg-trans-color: #eee4d324;
  --hmk-carousel-bg-grey-color: #988c796f;
  /* --hmk-carousel-base-f-size: min(max(3vw, 3vh), 16px); */
  --hmk-carousel-img-height: min(50vh, 50vw);
  --hmk-carousel-arrow-size: calc(var(--hmk-carousel-img-height) / 12);
  --hmk-carousel-fg-color: #111827;
  --hmk-carousel-fg-trans-color: #1118271f;
  --hmk-carousel-fg-invert-color: #eee7d8;
}

div.carousel {
  width: 100%;
  background-color: var(--hmk-carousel-bg-trans-color);
  background: radial-gradient(transparent, var(--hmk-carousel-bg-trans-color));
  box-shadow: 0 2px 5px 0 var(--hmk-carousel-fg-trans-color);
  overflow: hidden;
  position: relative;
}

div.carousel-left-arrow,
div.carousel-right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  height: var(--hmk-carousel-arrow-size);
  width: var(--hmk-carousel-arrow-size);
  border-top: calc(var(--hmk-carousel-arrow-size) / 4) solid var(--hmk-carousel-bg-grey-color);
  border-left: calc(var(--hmk-carousel-arrow-size) / 4) solid var(--hmk-carousel-bg-grey-color);
  cursor: pointer;
}

div.carousel-left-arrow {
  left: var(--hmk-carousel-arrow-size);
  transform: rotate(-45deg);
}

div.carousel-right-arrow {
  right: var(--hmk-carousel-arrow-size);
  transform: rotate(135deg);
}

div.carousel-left-arrow:active {
  transform: rotate(-45deg) scale(0.75);
}

div.carousel-right-arrow:active {
  transform: rotate(135deg) scale(0.75);
}

div.carousel-left-arrow:hover,
div.carousel-left-arrow:focus,
div.carousel-right-arrow:hover,
div.carousel-right-arrow:focus {
  border-top-color: var(--hmk-carousel-bg-color);
  border-left-color: var(--hmk-carousel-bg-color);
}

div.carousel-controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.carousel-play-btn,
div.carousel-animation-btn {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  color: var(--hmk-carousel-bg-color);
  cursor: pointer;
}

div.carousel-play-btn.carousel-play-btn-active,
div.carousel-animation-btn.carousel-animation-btn-active {
  color: var(--hmk-carousel-bg-grey-color);
}

div.carousel-img-circles {
  display: flex;
  flex-direction: row;
}

div.carousel-img-circles>div.img-circle {
  width: 1rem;
  height: 1rem;
  margin: 0 0.35rem;
  border-radius: 50%;
  background-color: var(--hmk-carousel-bg-grey-color);
  cursor: pointer;
}

div.carousel-img-circles>div.img-circle.carousel-img-circle-active {
  background-color: var(--hmk-carousel-bg-color);
}

figure.carousel-figure {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

figure.carousel-figure>img {
  height: var(--hmk-carousel-img-height);
  width: auto;
}

figcaption.carousel-figcaption {
  font-size: 0.5rem;
  text-align: center;
  color: var(--hmk-carousel-fg-invert-color);
  background-color: #0005;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

figcaption.carousel-figcaption div,
figcaption.carousel-figcaption a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

figcaption.carousel-figcaption a:hover,
figcaption.carousel-figcaption a:active,
figcaption.carousel-figcaption a:focus {
  text-decoration: underline;
}

@keyframes right-slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(200%);
  }
}

@keyframes right-slide-in {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes left-slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

@keyframes left-slide-in {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}