:root {
  --hmk-carousel-img-height: min(50vh, 50vw);
  --hmk-carousel-fg-color: #333;
  --hmk-carousel-fg-trans-color: #3333;
}

div.carousel {
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--hmk-carousel-fg-trans-color);
  box-shadow: 0 1px 3px 0px var(--hmk-carousel-fg-trans-color);
  overflow: hidden;
  position: relative;
}

div.carousel:focus,
div.carousel *:focus {
  outline: 1px solid var(--hmk-carousel-fg-trans-color);
}

div.carousel-left-arrow,
div.carousel-right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  border-top: 0.5rem solid var(--hmk-carousel-fg-trans-color);
  border-left: 0.5rem solid var(--hmk-carousel-fg-trans-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

div.carousel-left-arrow {
  left: 1.5rem;
  top: 45%;
  transform: rotate(-45deg);
}

div.carousel-right-arrow {
  right: 1.5rem;
  top: 45%;
  transform: rotate(135deg);
}

div.carousel-left-arrow:active {
  transform: rotate(-45deg) scale(0.75);
}

div.carousel-right-arrow:active {
  transform: rotate(135deg) scale(0.75);
}

div.carousel-left-arrow:hover,
div.carousel-left-arrow:focus,
div.carousel-right-arrow:hover,
div.carousel-right-arrow:focus {
  border-top-color: var(--hmk-carousel-fg-color);
  border-left-color: var(--hmk-carousel-fg-color);
}

div.carousel-controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--hmk-carousel-fg-trans-color);
}

div.carousel-play-btn,
div.carousel-animation-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0px;
  text-align: center;
  color: var(--hmk-carousel-fg-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

div.carousel-play-btn.carousel-play-btn-inactive,
div.carousel-animation-btn.carousel-animation-btn-inactive {
  color: var(--hmk-carousel-fg-trans-color);
}

div.carousel-img-circles {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.carousel-img-circles>div.img-circle {
  width: 1rem;
  height: 1rem;
  margin: 0 0.35rem;
  border-radius: 50%;
  background-color: var(--hmk-carousel-fg-trans-color);
  cursor: pointer;
  -webkit-tap-highlight-color: var(--hmk-carousel-fg-trans-color);
}

div.carousel-img-circles>div.img-circle.carousel-img-circle-active {
  background-color: var(--hmk-carousel-fg-color);
  transform: scale(1.1);
}

div.carousel-img-circles>div.img-circle:active {
  transform: scale(0.75);
}

div.carousel-img-circles>div.img-circle:focus {
  outline: 1px dotted var(--hmk-carousel-fg-color);
}

figure.carousel-figure {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

figure.carousel-figure>img {
  height: var(--hmk-carousel-img-height);
  width: auto;
}

figcaption.carousel-figcaption {
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
  background-color: #0005;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

figcaption.carousel-figcaption div,
figcaption.carousel-figcaption a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

figcaption.carousel-figcaption a:hover,
figcaption.carousel-figcaption a:active,
figcaption.carousel-figcaption a:focus {
  text-decoration: underline;
}

@keyframes right-slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(200%);
  }
}

@keyframes right-slide-in {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes left-slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

@keyframes left-slide-in {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}