form.weather-location {
  background-color: #3337;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;

  &.invalid {
    border-color: #f00;

    div.error {
      position: absolute;
      left: 0;
      top: -1.25rem;
      font-size: 0.75rem;
      color: #c00;
    }
  }

  input.location,
  button.location {
    background-color: transparent;
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px 0 inset #333a;
    }
  }

  input.location {
    width: 50%;
    flex: 1;
    text-align: center;

    &::placeholder {
      font-size: small;
      font-weight: lighter;
      color: #ddd;
    }
  }

  button.location {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    text-wrap: nowrap;
    cursor: pointer;
    background-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:active {
      background-color: #3337;
    }
  }
}
